@model LehaProjectMVC.Core.Entities.Product

@{
    ViewBag.Title = "ItemPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Body{

    <div>
        <div class="row row-wrapper">
            <div class="col-md-8 col-md-offset-2">
                <div class="col-md-6 item-image-wrapper">
                   <div class="item-image" style="background-image:url(@Model.Image.ImageUrl)"></div>
                </div>
                <div class="col-md-5 item-info">
                    <div class="item-title">
                        @Model.Name
                    </div>
                    <div class="item-description">
                        @Model.Description
                    </div>
                    <div style="margin-top:30px">
                        <div class="col-md-6 col-xs-6 item-price">Price : @Model.Price $</div>

                        @if (ViewBag.IsInCart == false)
                        {
                            <div class="col-md-6 col-xs-6"><a href="@Url.Action("AddToCart", "Cart", new { id = Model.Id})" style="text-decoration:none;"><div class="add-basket">Add To Busket</div></a></div>
                        }
                        else
                        {
                            <div class="col-md-12 col-xs-12 product-added">Product added to cart</div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>

}

@section scripts{
    <script type="text/javascript">

        jQuery(function ($) {
            $('.item-image').click(function () {
                var image_background = "<div id='image-background' onClick='closeImage()'><div class='row slide-top-padding'></div><div class='col-md-8 col-md-offset-2'><div id='image-slide' style='background-image:url(@Model.Image.ImageUrl)'></div></div></div>"
                $('body').append(image_background);
            });
        });

        function closeImage() {
            $('#image-background').remove();
        }

    </script>
}

